<div class="content">
  <!-- tabs -->
  <div class="text-center">
    <ul>
      <li *ngFor="let d of listOfDepartments">
        <a [routerLink]="['',  d.title]" routerLinkActive="active">
          {{ d.title | uppercase }} ( {{d.students.length}} )
        </a>
      </li>
      <li>
        <img [swal]="{ title: 'Enter Departments name', input: 'text' }"
            (confirm)="saveDepartments($event)" class="add" src="assets/img/add.png" alt="add">
      </li>
    </ul>
  </div>  
  <div class="table">
    <div class="title">
      students of {{ activeRoute }}
    </div>
  </div>
  <div class="container">
    <div class="row titles">
      <div class="col-3">
        Name
      </div>
      <div class="col-3">
        Surname
      </div>
      <div class="col-3">
        Birthday
      </div>
      <div class="col-3">
        Operations
      </div>
    </div> 
    <div *ngFor="let d of department">
      <div class="row" *ngIf="d.id != this.editId || !editClicked">
        <div class="col-3">
          {{ d.name }}
        </div>
        <div class="col-3">
          {{ d.surname }}
        </div>
        <div class="col-3">
          {{ d.birthday }}
        </div>
        <div class="col-3">
          <a class="remove" (click)="removeDepartments(d.id)">
            <img src="assets/img/remove.png" alt="remove">
          </a>
          <a class="edit ml-4" (click)="editDepartments(d.id)">
            <img src="assets/img/pencil.png" alt="pencil">
          </a>
        </div>
      </div> 
      <form [formGroup]="editForm" (ngSubmit)="submitEdit()" *ngIf="d.id == this.editId && editClicked">
        <div class="row">
          <div class="col-3">
            <input placeholder="name" 
                   formControlName="name" 
                   name="name" 
                   [ngClass]="{'error': editForm.get('name').hasError('required') && submitted }"
                   required/>
            <div class="error" *ngIf="editForm.get('name').hasError('required') && submitted">
              This feild is required.
            </div>
          </div>
          <div class="col-3">
            <input placeholder="surname" 
                    formControlName="surname" 
                    name="surname" 
                    [ngClass]="{'error': editForm.get('surname').hasError('required') && submitted }"
                    required/>
            <div class="error" *ngIf="editForm.get('surname').hasError('required') && submitted">
                This feild is required.
            </div>
          </div>
          <div class="col-3">
            <dp-date-picker formControlName="birthday" 
                            name="birthday" 
                            mode="day"
                            theme="dp-material"
                            placeholder="birthday"
                            [ngClass]="{'error': editForm.get('birthday').hasError('required') && submitted }"
                            [config]="datePickerConfig" required>
            </dp-date-picker> 
            <div class="error errorDate" *ngIf="editForm.get('birthday').errors && editForm.get('birthday').dirty && !editForm.get('birthday').hasError('required')">
              Don't match.
            </div>
            <div class="error errorDate" *ngIf="editForm.get('birthday').hasError('required') && submitted">
              This feild is required.
            </div>
          </div>
          <div class="col-3">
            <button type="submit" class="btn btn-info w-100">done</button>
          </div>
        </div>  
      </form>   
    </div>
    <h1 class="add mt-5 w-100"> Add new item :</h1>
    <form (ngSubmit)="addNewStudent()" [formGroup]="form">
      <div class="row">
        <div class="col-3">
          <input placeholder="name" 
                  formControlName="name" 
                  name="name" 
                  [ngClass]="{'error': form.get('name').hasError('required') && addSubmitted }"
                  required/>
          <div class="error" *ngIf="form.get('name').hasError('required') && addSubmitted">
            This feild is required.
          </div>
        </div>
        <div class="col-3">
          <input placeholder="surname" 
                  formControlName="surname" 
                  name="surname" 
                  [ngClass]="{'error': form.get('surname').hasError('required') && addSubmitted }"
                  required/>
          <div class="error" *ngIf="form.get('surname').hasError('required') && addSubmitted">
              This feild is required.
          </div>
        </div>
        <div class="col-3">
          <dp-date-picker formControlName="birthday" 
                      name="birthday" 
                      mode="day"
                      theme="dp-material"
                      placeholder="birthday"
                      [ngClass]="{'error': form.get('birthday').hasError('required') && addSubmitted }"
                      [config]="datePickerConfig" required>
          </dp-date-picker> 
          <div class="error errorDate" *ngIf="form.get('birthday').errors && form.get('birthday').dirty && !form.get('birthday').hasError('required')">
                Don't match.
          </div>
          <div class="error errorDate" *ngIf="form.get('birthday').hasError('required') && addSubmitted">
              This feild is required.
          </div>
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-success w-100">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>