/* You can add global styles to this file, and also import other style files */
body , html {
  font-family: 'Noto Sans', sans-serif;
}

.dp-material .dp-picker-input {
  border: none!important;
  font-size: 16px!important;
}

.dp-material.error.ng-invalid {
  input {
    color: #C40606!important;
    font-size: 0.78rem!important;
  }
}
